<header></header>

<div class="general-padding" ng-if="vm.authorized == false">
  <h1>You are not authorized to view this page.</h1>
</div>

<div class="general-padding" ng-if="vm.authorized == true">
  <div class="row">
    <div class="col-md-3">
      <h1>{{vm.headerText}}</h1>
    </div>
  </div>
  <div class="row">
    <div class="col-md-3">
      <button ng-click="vm.findAllGear()" class="btn btn-default" type="submit">Display Inventory</button>
    </div>
  </div>
  <div class="row">
    <br/><br/>
    <div class="col-md-3">
      <div class="form-group">
        <label for="inputGearID">Gear ID</label>
        <p class="input-group">
          <input type="text" class="form-control" id="inputGearID" ng-model="vm.gearid"/>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <div class="form-group">
        <label for="inputGearQuantity">New Quantity</label>
        <p class="input-group">
          <input type="text" class="form-control" id="inputGearQuantity" ng-model="vm.gearquantity"/>
        </p>
      </div>
    </div>
    <div class="col-md-3">
      <button ng-click="vm.updateGearQuantity()" class="btn btn-default" type="submit">Update Gear Quantity</button>
      <h1>{{vm.statustext}}</h1>
    </div>
  </div>

  <br/><br/>
  
  <div ng-if="vm.gears.length > 0 && !vm.requestSuccessful">
    <div class="row">
      <div class="col-md-12">
        <table id="gear_inventory_table" class="table table-bordered">
          <thead>
            <tr>
              <th>Gear ID</th>
              <th>Gear Type</th>
              <th>Size</th>
              <th>Total Quantity</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="gear in vm.gears track by $index">
              <td>{{gear.id}}</td>
              <td><a ui-sref="moreGearDetails({ gearID: {{gear.id}} })">{{gear.name}}</a></td>
              <td>{{gear.size}}</td>
              <td>{{gear.TotalQuantity}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
