<header></header>
<div class="general-padding">
  <div class="row">
    <div class="col-md-6">
      <h1>{{vm.headerText}}</h1>
    </div>
  </div>
  <div class="row big-bottom">
      <div ng-repeat="request in vm.requests" ng-hide="!vm.requests.length">
      <div class="col-md-12">
        <h3>Request #{{request.requestId}} </h3>
        <div class="col-md-2">
        <p><button ng-click="vm.confirmReturned(request.requestId)" class="btn btn-default big-bottom" type="submit">Mark Returned</button>
        </div>
        <table class="table table-bordered">
          <thead>
            <tr>
              <td>Borrower</td>
              <td>Due:</td>
              <td>Status:</td>
            </tr>
          </thead>
          <tbody>
            <tr>
              <td>{{request.borrower}}</td>
              <td>{{request.dueDate.slice(0,10)}}</td>
              <td>{{request.status}}</td>
            </tr>
          </tbody>
        </table>
      </div>
      <div class="col-md-12">
        <p>Items in this request:</p>
        <table class="table table-bordered">
            <thead>
              <tr>
              <th>Quantity</th>
              <th>Item</th>
              </tr>
            </thead>
            <tbody>
            <tr ng-repeat="item in request.items">
              <td>{{item.quantity}}</td>
              <td>{{item.gender}} {{item.size}} {{item.name}}</td>
            </tr>
            </tbody>
          </table>
          <br /><br />
      </div>
  </div>
      <div ng-hide="vm.requests.length">
        <p>There are no returns to verify.</p>
      </div>


